.item {
  height: auto;
  padding: 20px;
  background-color: gray;
  margin: 0 auto 10px;
  border-radius: 10px;
  position: relative;
}

.item__title {
  color: red;
}

.close{
  position: absolute;
  right: 20px;
  top: 20px;
}
